@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{

    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}


.working-section-main{

    display: block;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    
    

   
}

#Worker-req{

    width: 150px;
}

h1{

    font-family: Rajdhani;
    color: rgb(155, 255, 89);
}

p{
    font-weight: 500;
    font-family: Rajdhani;
}


a{

    background-color: black;
    padding: 5px;
    border-radius: 25px;
    display: block;
    width: 50%;
    justify-self: center;
    color: white;
    text-decoration: none;
    font-family: Rajdhani;
    transition: all 0.2s ease;
}


a:hover{

    transform: scale(1.05);
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

}